<%- include ("header.ejs") %>

<body>
    <h1 class="title">Edit Post</h1>

    <% if (posts) { %>
        <% for (post in posts) {%>
            
    <div id="newpost-box">
        <form class="post-form" action="/updatepost" method="post">
            <label for="title">Title:</label>
            <input class="post-input" type="text" required autocomplete="off" autofocus name="title" value="<%=posts[post].title%>">
            <label for="textpost" >Text: </label>
            <textarea class="post-input" name="text" rows="20" cols="50" autocomplete="off" required placeholder="Write your text here..."><%=posts[post].text%></textarea>
            <input  class="hidden" name="postId" type="number" value="<%-posts[post].postId%>" readonly>
            <input class="btn-post" type="submit" value="Save">
        </form>
    </div>
    <div class="del-post-box">
        <form action="/deletepost" method="post">
            <input  class="hidden" name="postId" type="number" value="<%-posts[post].postId%>" readonly>
            <input class="btn-post-del" type="submit" value="Delete Post">
        </form>
    </div>
        <% } %>
    <% } %>
    </body>

    
</body>

<%- include ("footer.ejs") %>