<%- include ("header.ejs") %> 

<body>
    <div class="title">
        <% if (message) { %>
            <p class="alert"><%=message%></p>
        <% } %>
        <h1>Recent Posts</h1>
    </div>
    <% if (posts) { %>
        <% for (post in posts) {%>
            <div class="recent-posts">
                <p class="date-recent-post"><%=posts[post].timestamp%></p>
                <h2 class="title-recent-post"><%=posts[post].title%></h2>
                <p class="author-post"><%=posts[post].user%></p>
                <p class="text-recent-post"><%-posts[post].text%></p>
                <a href="/post/<%-posts[post].postId%>">Click here to read the full post</a>
            </div>
        <% } %>
    <% } %>
    
</body>

<%- include ("footer.ejs") %>