<%- include ("header.ejs") %>

<body>
    <% if (message) { %>
        <p class="alert"><%=message%></p>
    <% } %>

    <h3 class="title">My Posts</h3>

    <% if (posts) { %>
        <% for (post in posts) {%>
            <div class="my-posts-box">
                <h3 class="title-recent-post"><%=posts[post].title%></h3>
                <p class="date-recent-post"><%=posts[post].timestamp%> by <%=posts[post].name%></p>
                <p class="text-recent-post"><%-posts[post].text%></p>

                <form action="/editpost" method="post">
                    <input  class="hidden" name="postId" type="number" value="<%-posts[post].postId%>" readonly>
                    <input class="btn-post" type="submit" value="Edit Post">
                </form>
            </div>
        <% } %>
    <% } %>
</body>

<%- include ("footer.ejs") %>